src/main/java/com/businessassistant/assistantapi/gen/employee.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.kepa.com/api/employee"
           xmlns:ns1="http://www.kepa.com/api/order"
           targetNamespace="http://www.kepa.com/api/employee"
>
    <xs:import schemaLocation="order.xsd"
               namespace="http://www.kepa.com/api/order" />

    <xs:element name="getEmployeeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getEmployeeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employee" type="tns:employee"/>
                <xs:element name="serviceStatus" type="ns1:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllEmployeesRequest">
        <xs:complexType>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllEmployeesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="employees" type="tns:employee" maxOccurs="unbounded"/>
                <xs:element name="serviceStatus" type="ns1:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="changePayrollStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="changePayrollStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="isOnPayroll" type="xs:boolean"/>
                <xs:element name="serviceStatus" type="ns1:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="employee" >
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="surname" type="xs:string"/>
            <xs:element name="position" type="xs:string"/>
            <xs:element name="orders" type="ns1:order" maxOccurs="unbounded"/>
            <xs:element name="hoursWorked" type="xs:integer"/>
            <xs:element name="isOnPayroll" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="position" >
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="positionName" type="xs:string"/>
            <xs:element name="hourlyWage" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>


</xs:schema>
